<!-- <div>
  <h2>Two way data binding</h2>
  <form action="">
    <input
      type="text"
      [(ngModel)]="animal"
      name="anything"
      placeholder="Your name!"
    />
    <input type="submit" value="Enviar" />
    <p>O nome é : {{animal}}</p>
  </form>
</div> -->

<div>
  <form>
      <input type="text" [(ngModel)]="ComponentScope_Animal" name="anything" placeholder="anything"/>
      <div *ngIf="ComponentScope_Animal.length !== 0">
        <button (click)="addAnimal()">Adicionar</button>
      </div>
  </form>
  <button (click)="showAnimals()">Exibir animais</button>
  <ul>
    <li *ngFor="let alias of ComponentScope_AnimalList">
      <p>{{alias}}</p>
    </li>
  </ul>
</div>