/* You can add global styles to this file, and also import other style files */
h1{
    text-align: center;
    background-color: black;
    color: cyan;
}

.small-title{font-size: 2rem;}
.title{color: rgb(254, 254, 254);}
.border{border: 2px solid rgb(255, 8, 0);}
.format{
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}